@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    @apply border;
    @apply border-solid;
    @apply border-gray-300;
    /* @apply rounded-md; */
    @apply px-4;
    @apply py-2;
}

.border-hairline {
    @apply border border-black border-opacity-10;
}

.button {
    @apply rounded-md px-5 py-2.5 text-sm font-semibold text-white shadow-sm;
}

.loading-button {
    @apply bg-gray-500 text-white rounded-md inline-block px-5 py-3 cursor-wait;
}

.image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}
